#footer {
    display: grid;
    flex-direction: column; // 자식 요소를 세로로 정렬
    align-items: center; // 모든 자식 요소를 가운데 정렬
    justify-content: center; // 세로 방향 중앙 정렬
    background-color: #303E4F;
    color: white;
    padding: 20px 10px; // 상하 패딩 증가
    margin: 0 auto;
    text-align: center;
    width: 100%;

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .footer-header, .contact, .icons {
        width: 100%; // 모든 내부 요소의 너비를 100%로 설정하여 가운데 정렬 유지
    }



    .contact {
        margin-bottom: 20px;

        h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
        }
    }

    .icons {
        display: flex; // 아이콘 리스트에도 flexbox 적용
        justify-content: center; // 아이콘을 가운데 정렬
        list-style: none; // 리스트 마커 제거
        padding: 0;

        li {
            margin: 0 10px; // 아이콘 간 마진 조정
        }

        a {
            font-size: 24px; // 아이콘 크기 조정
        }
        
    }
    
}


