header {
    background-color: #303E4F;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 80px;
}

.logo {
    position: relative;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 100px;
    height: auto;
}
